
:root {
  --grey20: #303030; /* LAB: 20%, 0, 0 */
  --grey80: #c6c6c6; /* LAB: 80%, 0, 0 */
  --grey90: #e2e2e2; /* LAB: 90%, 0, 0 */
  --grey100: #ffffff; /* LAB: 100%, 0, 0 */
}

html, body {
  position: relative;
  width: 100%;
  height: 100%;
}

body {
  color: var(--grey20);
  margin: 0;
  padding: 1em;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

a {
  font-weight: 600;
  color: var(--grey20);
  text-decoration: none;
}

label {
  display: block;
}

input, button, select, textarea {
  font-family: inherit;
  font-size: inherit;
  padding: 0.2em;
  margin: 0 0 0.5em 0;
  box-sizing: border-box;
  border: 0.05em solid var(--grey80);
}

button {
  color: var(--grey20);
  background-color: var(--grey90);
  outline: none;
}

button:active {
  background-color: var(--grey80);
}
